.Person {
    width: 60%;
    margin: auto;
    border: 1px #CCCFFF;
    box-shadow: 0 2px 5px #e3e3e3;
    text-align: center;
    padding-bottom: 50px;
}
  
.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.Person button {
    background-color: grey;
    color: white;
    font: inherit;
    width: 200px;
    cursor: pointer; 
    border: 1px solid black;
    padding: 8px;
}

.Person button:hover {
    background-color: lightgrey;
    color:black;
}

.Person button.Black {
    background-color: black;
    color:white;
}

.Person button.Black:hover {
    background-color: darkgrey;
    color:white;
}