.Education {
    overflow: hidden;
    padding: 100px 0px 100px 0px;
}

.EducationContainer {
    width: 96%;
    max-width: 1080px;
    margin: 0 auto;
    overflow:hidden;
    /* background-color:red; */
    /* margin-bottom:200px; */
}

.Education p {
    color:#4d4d4d;
}

.Education h1 {
    color:black;
    font-weight: 400;
    margin-top:0px;
}

.EducationParagraph {
    /* display: inline-block; */
    width:100%;
    /* float:left; */
    border-bottom: 1px solid #d9d9d9;
}

@media screen and (max-width: 1000px) {
    .Education {
        padding: 20px 0px 20px 0px;
    }

    .EducationContainer {
        width:600px;
        padding: 0px;
    }
}

@media screen and (max-width: 630px) {
    .EducationContainer {
        width:auto;
        margin: 0px 30px 0px 30px;
    }
}