.Home {
    text-align: center;
}

.Home p {
    width: 500px;
    margin: auto;
}

.HomeButton h1 {
    color:white !important; /* for some reason Main.css is overridding this component's CSS... */
    font-weight: 300;
    margin-top: 120px;
}

.Home span {
    /* margin:40px; */
    line-height: normal;
    /* box-shadow: 0 2px 5px #e3e3e3; */
}

.HomeButton {
    background-color:#0099ff;
    display: inline-block;
    height: 300px;
    width: 50%;
}

.HomeButton:hover {
    background-color:#1aa3ff;
    display: inline-block;
    width: 50%;
}