.About {
    background-color: #333333;
}

.About p {
    color:#cccccc;
}

.About h1 {
    color:white;
}

.paragraph {
    padding:100px;
    display: inline-block;
    width:500px;
}

.imageDiv {
    display: inline-block;
    width: 100px;
    background-color:red;
    margin-top: 0px;
}