html, body, #placeholder {
    height: 100% !important;
}

.Home {
    text-align: center;
}

.MainHeading h2 {
    /* font-family: haptik-light,helvetica,"sans-serif"; */
    color:black;
    font-weight: 300;
    font-size: 22pt;
    text-align:left;
    margin-left:28px;
    position: absolute;
}

.MainHeading h2:hover {
    color:#404040;
    cursor:default;
    transition-duration:0.2s;
    -ms-transition-duration: 0.2s;
}

.MainHeading:hover ~ .titleUnderline {
    display:block;
}

.titleUnderline {
    /* width: 12.5%; */
    width:212px;
    border-bottom:1px solid #404040;
    margin-left:28px;
    margin-top:62px;
    position: absolute;
    display:none;
}

span h1 {
    color:white; /* for some reason Main.css is overridding this component's CSS... */
    font-weight: 300;
    /* margin-top: 120px; */
    /* vertical-align:middle; */
}

.andySide,
.coleSide {
    background-color:#f2f2f2;
    display: inline-block;
    width: 50%;
    height:100vh;
}

.coleSide {
    background-color:#fff;
 }

.andyButton,
.coleButton {
    /* background-color: #404040; */
    border: 1px solid #4b4b4b;
    /* padding:250px 120px 260px 120px; */
    padding:182px 200px 182px 200px;
}

.andyButton:hover,
.coleButton:hover {
    /* background-color: #404040; */
    background-color: #4b4b4b;
	transition-duration:0.2s;
    -ms-transition-duration: 0.2s;
    cursor: default;
}

.andyButton h1,
.coleButton h1 {
    color:#4b4b4b;
    margin-bottom:12px;
}

.andyButton:hover h1,
.coleButton:hover h1 {
    color:#fff;
}

.andyButton:hover > .nameUnderline,
.coleButton:hover > .nameUnderline {
    border-bottom:1px solid #fff;
	transition-duration:0.6s;
	-ms-transition-duration: 0.6s;
    width:140%;
}

span {
    display: inline-block;
    vertical-align:middle;
}

.nameUnderline {
    width: 120%;
    border-bottom:1px solid #4b4b4b;
    margin-bottom:20px;
}

.buttonContainer {
    width:100%;
    margin: 0 auto;
    /* background-color:red; */
    position: absolute;
    /* bottom:0; */
}

.transitionDown {
    /* border: 1px solid #fff; */
    background-color:#404040;
    color:#fff;
    border-radius: 50%;
    padding:10px;
    width:20px;
    /* position: absolute; */
    bottom:20px;
    /* margin:0 49% 0 49%; */
    /* margin-left:48.8% */
    /* left:48.83%; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.transitionUp {
    /* border: 1px solid #404040; */
    background-color:#404040;
    color:#fff;
    border-radius: 50%;
    padding:10px;
    width:20px;
    top:20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.transitionDown:hover,
.transitionUp:hover {
    border: 1px solid #404040;
    background-color: #fff;
    color:#404040;
    padding:8.5px;
	transition-duration:0.2s;
    -ms-transition-duration: 0.2s;
}

@media screen and (max-width: 1000px) {
    .andyButton,
    .coleButton {
        padding:126.5px 140px 126.5px 140px;
    }

    .transitionUp {
        display:none;
    }
}

@media screen and (max-width: 710px) {
    .home {
        height:100vh;
    }

    .MainHeading h2 {
        position: absolute;
        margin-bottom:0px;
        margin-top:0px;
        margin-left:8px;
    }

    .andyButton h1,
    .coleButton h1 {
        margin-bottom:5px;
    }

    a { text-decoration: none; }

    .titleUnderline {
        /* margin-top:0px; */
        border:none;
    }

    .MainHeading {
        display:block;
        width:100%;
    }

    .andySide,
    .coleSide {
        display:block;
        width:100%;
        height:50vh;
        background-color:#fff;
    }

    .coleSide {
        background-color: #f2f2f2;
    }

    .andyButton,
    .coleButton {
        padding:20% 25% 20% 25%;
    }

    .transitionDown {
        display:none;
    }
}

@media screen and (max-width:375px) {
    .MainHeading h2 {
        font-size: 16pt;
    }
}