.Position h1 {
    font-size: 16pt;
    /* font-weight: bold !important; */
}

.Position h2 {
    font-size: 12pt;
    text-decoration: none;
    /* font-weight: 400; */
}

.separator {
    width: 90%;
    border-bottom:1px solid #e9e9e9;
    margin: 0 auto;
}