.Footer {
    background-color: #333333;
    overflow: hidden;
    padding: 50px 0px 100px 0px;
}

.FooterContainer {
    width: 96%;
    max-width: 1080px;
    margin: 0 auto;
    overflow:hidden;
}

.Footer p {
    color:#b3b3b3;
    margin: 0px 0px 0px 0px;
}

.Footer h1 {
    color:#808080;
    font-weight: 400;
    margin-top:0px;
    margin-bottom: 10px;
}

.FooterSummary {
    display: inline-block;
    width:42%;
    vertical-align: top;
    padding:10px;
    margin-right:130px;
}

.itemContainer {
    float:right;
}

.FooterAndy,
.FooterCole {
    display: inline-block;
    width: 154px;
    padding:10px;
}

.FooterAndy {
    margin-right:30px;
}

.fa-envelope,
.fa-linkedin,
.fa-github {
    font-size: 32pt;
    color: #4d4d4d;
    margin:0px 10px 0px 0px;
    display:inline;
}

.fa-envelope:hover,
.fa-linkedin:hover,
.fa-github:hover {
    color: #737373;
}

.headingUnderline {
    width: 40% !important;
    border-bottom:1px solid #b3b3b3;
    margin-bottom:20px;
}

@media screen and (max-width: 1000px) {
    .Footer {
        padding: 20px 0px 20px 0px;
    }

    .FooterContainer {
        width:600px;
        padding: 0px;
    }

    .FooterSummary {
        display: block;
        width:100%;
        padding:10px 0px 20px 0px;
    }

    .itemContainer {
        float:left;
    }

    .FooterAndy,
    .FooterCole {
        display:inline-block;
        width:220px;
        padding:0px;
        margin-right:0px;
    }

    .headingUnderline {
        margin-bottom:10px;
    }
}

@media screen and (max-width: 630px) {
    .FooterContainer {
        width:auto;
        margin: 0px 30px 0px 30px;
    }

    .FooterAndy,
    .FooterCole {
        display:inline-block;
        width:130px;
        padding:0px;
        margin-bottom:20px;
    }

    .Footer h1 {
        font-size: 14pt;
    }

    .fa-envelope,
    .fa-linkedin,
    .fa-github {
        font-size: 20pt;
    }
}